{# ============================================================================= #}
{# Billing Get Report Parameters Template                                        #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-26                                                             #}
{# ============================================================================= #}
{% extends "collector_app.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{gettext('Charging Report')}}{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>Charging Report: </h2>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>
{{ wtf.quick_form(form) }}
<hr>
{% endblock content %}
{# ============================================================================= #}
