{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Collector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<!-- ------------------ -->
<!-- gen_templates_form -->
<!-- ------------------ -->
<div class="page-header">
    <h2>Role: </h2>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>
{{ wtf.quick_form(form) }}
<hr>
<!-- ------------------ -->
<!-- gen_templates_form -->
<!-- ------------------ -->
{% endblock %}
{# ============================================================================= #}

