{% macro pagination_widget(pagination, endpoint) %}
<ul class="pagination">
  <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
      page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
      [&laquo;]
    </a>
  </li>
  {% for p in pagination.iter_pages() %}
    {% if p %}
      {% if p == pagination.page %}
      <li class="active">
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">[ {{ p }} ]</a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">[ {{ p }} ]</a>
      </li>
      {% endif %}
    {% else %}
    <li class="disabled"><a href="#">[ &hellip; ]</a></li>
    {% endif %}
  {% endfor %}
  <li{% if not pagination.has_next %} class="disabled"{% endif %}>
    <a href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
    [&raquo;]
    </a>
  </li>
</ul>
{% endmacro %}

{%- macro Gen_Option(name,option,current_user) %}
    {%- if option is defined %}
        {%- if current_user.is_authenticated %}
            <!-- ------------------------------- -->
            <!-- _macros.html - Gen_Option       -->
            <!-- ------------------------------- -->    
            {%- if option.options|length == 0 %}
                <a class="dropdown-item" href="{{option.url}}">{{gettext(name)|safe}}</a>
            {%- else %}
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-bs-toggle="dropdown" aria-expanded="false">
                          {{name|safe}}
                        </a>
                        <ul class="dropdown-menu">
                    {%- for suboption in option.options %}
                        {%- if suboption.test is defined and suboption.test %}
                            {%- if current_app.config.TESTING %}
                            <!-- _macros.html: - Gen_SubOption !{{suboption|safe}}! TEST MODE -->
                                {%- if suboption.header is not none %}
                            <b>{{suboption.header}}</b>
                                {%- endif %}
                            <li><a class="dropdown-item" href="{{suboption.url}}">{{gettext(suboption.name)}}</a></li>
                                {%- if suboption.hr %}
                            <hr>
                            <!-- -------------------------------gso -->
                                {%- endif %}
                            {%- endif %}
                        {%- else %}
                            <!-- _macros.html - Gen_SubOption !{{suboption|safe}}! -->
                            {%- if suboption.header is not none %}
                            <b>{{suboption.header}}</b>
                            {%- endif %}
                            <li><a class="dropdown-item" href="{{suboption.url}}">{{gettext(suboption.name)}}</a></li>
                            {%- if suboption.hr %}
                            <hr>
                            {%- endif %}
                            <!-- -------------------------------gso -->
                        {%- endif %}
                    {%- endfor %}
                        </ul>  
                    </li>
            {%- endif %}
            <!-- -----------------------------go -->
        {%- endif %}
    {%- endif %}
{%- endmacro %}

