{%- macro Gen_Option(option) %}
    {%- if option is defined %}
    {% raw %}{%- if current_user.is_authenticated %}{% endraw %}
            {% raw %}{% if current_user.role.id in {% endraw %}{{ option.roles|string }}{% raw %} %}{% endraw %}
            <!-- ------------------------------- -->
            <!-- gen_menu_functions - Gen_Option -->
            <!-- ------------------------------- -->    
    {%- if option.options|length == 0 %}
        <a class="dropdown-item" href="{{option.url}}">{{option.name}}</a>
    {%- else %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">{{option.name}}</a>
                <div class="dropdown-menu">
            {%- for suboption in option.options %}
                {%- if suboption.test is defined and suboption.test %}
                    {% raw %}{%- if current_app.config.TESTING %}{% endraw %}
                    <!-- collector_macros: Gen_Option::Gen_SubOption !{{suboption|safe}}! TEST MODE -->
                        {%- if suboption.header is not none %}
                    <b>{{suboption.header}}</b>
                        {%- endif %}
                    <a class="dropdown-item" href="{{suboption.url}}">{{suboption.name}}</a>
                        {%- if suboption.hr %}
                    <hr>
                    <!-- -------------------------------gso -->
                        {%- endif %}
                    {% raw %}{%- endif %}{% endraw %}
                {%- else %}
                    <!-- collector_macros: Gen_Option::Gen_SubOption !{{suboption|safe}}! -->
                    {%- if suboption.header is not none %}
                    <b>{{suboption.header}}</b>
                    {%- endif %}
                    <a class="dropdown-item" href="{{suboption.url}}">{{suboption.name}}</a>
                    {%- if suboption.hr %}
                    <hr>
                    {%- endif %}
                    <!-- -------------------------------gso -->
                {%- endif %}
            {%- endfor %}
                </div>  
            </li>
    {%- endif %}
            <!-- -----------------------------go -->
                {% raw %}{%- endif %}{% endraw %}
        {% raw %}{%- endif %}{% endraw %}
    {%- endif %}
{%- endmacro %}
