{% extends "base.html" %}

{% block title %}Collector - DEMO Version Message{% endblock %}

{% block page_content %}
<div class="page-header">
    <br>
    <h1>This Page is not availabe in Demonstration Version of <font color="blue"><b>Collector</b></font></h1>
    <hr>
    <br>
    <h2>For a complete functionality demonstration please contact your sale's representative and schedule a <font color="blue"><b><i>"Half day workshop"</b></i></font> appointment at Emtec's Premises</h2>    
</div>
{% endblock %}
