{% extends "collector_app.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Plugins{% endblock %}

{% block content %}
<div class="page-header">
    
    <h1>Collector v 2.1</h1>
    <h2>Installed Plugins</h2>
    <hr>
    <a href="#" onclick="history.go(-1)" class="btn btn-outline-primary"><i class="bi bi-arrow-left text-primary" width=32></i></a>
    <a href="/"                          class="btn btn-outline-primary"><i class="bi bi-house-door text-primary" width=32></i></a>  
    <hr>
    {% for d in data %}
    <li><a href="{{ d.url }}">{{d.code}} - {{d.description}}</a></li>
    {% endfor %}
</div>
{% endblock content%}



