{# ============================================================================= #}
{# Billing Report Template                                                       #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

    
{% block page_content %}
    {% set prev_CC = ['***'] -%}
    {% set prev_CC_ID = [-1] -%}
    {% set prev_CI = ['***'] -%}
    {% set sum_CC = [0] -%}
    {% set sum_CI = [0] -%}
    {% set count_CC = [0] -%}
    {% set count_CI = [0] -%}
    {% set sum_Total = [0] -%}
        <div class="page-header">
            <h2>Billing Report:<h2>
            <h3>
            <table>
                <tr><td>Customer   </td><td> : </td><td>{{Cus_Name}}</td></tr> 
                <tr><td>Report From</td><td> : </td><td>{{CIT_Date_From}}</td></tr>
                <tr><td>Report To  </td><td> : </td><td>{{CIT_Date_To}}</td></tr>
                <tr><td>Status     </td><td> : </td><td>{{CIT_Status_Value}}</td></tr>
                <tr><td>Currency   </td><td> : </td><td>{{Cur_Name}} ({{Cur_Code}})</td></tr>
            </table>
        
            <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
        </div>
        <hr>
    {% for row in rows %}
        {% if loop.first %}

{# <table class="table">
        <thead class="thead-dark">
            <tr>
                <th align="center" valign="top">POOL<br>RECORDS</th>
                <th align="center">CHARGE<br>UNIT</th>
                <th align="center">RATE</th>
                <th align="center">Q</th>
                <th align="center">SUBTOT</th>            
                <th align="center">BILL XR<br>{{row.RATE_CUR}}->{{row.XCUR}}</th>            
                <th align="center">TOTAL BILL<br>{{Cur_Code}}</th>
            </tr>
        </thead>
        <tbody> #}
        
        {% endif %}



        {% if prev_CI.0 != row.CI_ID %}
            {# Report partial sums in final currency for previous Configuration Item, except in first loop #}
            {% if not loop.first %}
            <tr>
                <td></td><td></td><td></td><td></td><td>
                </td><td align="right">Total CI :</td>
                <td align="right"><b>{{ "%12.2f"|format(sum_CI.0) }}</b> {{Cur_Code}}</td>
            </tr>
            </table>
            {% endif %}
            
            {% set count = count_CI.0  + 1 %}
            {% set _ = count_CI.pop() %}
            {% set _ = count_CI.append(count) %}

            {% if prev_CC.0 != row.CC %}
                {# Report partial sums in final currency for previous Cost Center, except in first loop #}
                {% if not loop.first %}
                <hr>
                <table>
                <tr>
                    <td align="right"><b>Total CC : <a href="/forms/Cost_Centers?CC_Id={{ prev_CC_ID.0 }}">{{ prev_CC.0 }}</a></b> : </td>
                    <td align="right"><b>{{ "%12.2f"|format(sum_CC.0) }}</b> {{Cur_Code}}</td>
                </tr>
                </table>
                <hr>
                    {% endif %}
                
                <table>
                    <tr>
                        <b>Cost Center : <a href="/forms/Cost_Centers?CC_Id={{ row.CC_ID }}">{{ row.CC }}</a></b>
                    </tr> 
                </table>
                <hr>
                {# Reset acumulator and control variables #}
                {% set _ = prev_CC.pop()                  %}
                {% set _ = prev_CC.append(row.CC)         %}
                {% set _ = prev_CC_ID.pop()               %}
                {% set _ = prev_CC_ID.append(row.CC_ID)   %}
                {% set _ = sum_CC.pop()                   %}
                {% set _ = sum_CC.append(0)               %}
                
            {% endif %}
 
            <table>
                <tr>
                    <b>{{count_CI.0}} Configuration Item : <a href="/forms/Configuration_Items?CI_Id={{ row.CI_ID }}">{{ row.CI }}</a></b>
                </tr> 
            </table>
            {# Reset acumulator and control variables #}
            {% set _ = prev_CI.pop() %}
            {% set _ = prev_CI.append(row.CI_ID) %}
            {% set _ = sum_CI.pop() %}
            {% set _ = sum_CI.append(0) %}
            
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th align="center" valign="top">POOL<br>RECORDS</th>
                        <th align="center">CHARGE<br>UNIT</th>
                        <th align="center">RATE</th>
                        <th align="center">Q</th>
                        <th align="center">SUBTOT</th>            
                        <th align="center">BILL XR<br>{{row.RATE_CUR}}->{{row.XCUR}}</th>            
                        <th align="center">TOTAL BILL<br>{{Cur_Code}}</th>
                    </tr>
                </thead>
                <tbody>
                       
        {% endif %}
            <tr>
                <td align="right"   >{{ row.ITEMS }}</td>
                <td align="center"  ><a href="/forms/Charge_Units?CU_Id={{ row.CU_ID }}">{{ row.CU }}</a></td>
                <td align="right"><b>{{ "%12.2f"|format(row.RATE_PRICE) }}</b> {{row.RATE_CUR}} ({{row.MU}}/{{row.RATE_PERIOD}})</td>                
                <td align="right"><b>{{ "%20.2f"|format(row.Q) }}</b> {{row.MU}}/Hr</td>
                
                <td align="right"><b>{{ "%12.2f"|format(row.ST_AT_RATE) }}</b> {{row.RATE_CUR}}</td>                
                <td align="right"   >{{ "%20.6f"|format(row.BILLXR) }}</td>                
                <td align="right"><b>{{ "%12.2f"|format(row.TOTAL_BILL_CUR) }}</b> {{ row.XCUR }}</td>
                {# NOTE: to address during "localization" process -------------------------------------------------------#}                
                {# <td align="right"><b>{{ format_currency(row.TOTAL_BILL_CUR,locale="es_CL") }}</b> {{ row.XCUR }}</td> #}
                {# ------------------------------------------------------------------------------------------------------#}                
                
                {# Calculate partial and total sums in final currency #}
                
                {% set sum    = sum_CI.0 + row.TOTAL_BILL_CUR %}
                {% set sumCC  = sum_CC.0    + row.TOTAL_BILL_CUR %}
                {% set total  = sum_Total.0 + row.TOTAL_BILL_CUR %}
                {% set _ = sum_CI.pop() %}
                {% set _ = sum_CI.append(sum) %}
                {% set _ = sum_CC.pop() %}
                {% set _ = sum_CC.append(sumCC) %}
                {% set _ = sum_Total.pop() %}
                {% set _ = sum_Total.append(total) %}
           </tr>
    {% endfor %}
            {# Report partial and total sums in final currency for last Configuration Item #}
            
                    <tr>
                        <td></td><td></td><td></td><td></td><td>
                        </td><td align="right">Total CI :</td>
                        <td align="right"><b>{{ "%12.2f"|format(sum_CI.0) }}</b> {{Cur_Code}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <table>
                <tr>
                    <td align="right"><b>Total CC : <a href="/forms/Cost_Centers?CC_Id={{ prev_CC_ID.0 }}">{{ prev_CC.0 }}</a></b> : </td>
                    <td align="right"><b>{{ "%12.2f"|format(sum_CC.0) }}</b> {{Cur_Code}}</td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td align="right">Total of <b>{{CIT_Status_Value}}</b> for customer <b>{{Cus_Name}}</b> between <b>{{CIT_Date_From}}</b> and <b>{{CIT_Date_To}}</b> :</td>
                    <td align="right"><b>{{ "%12.2f"|format(sum_Total.0) }}</b> {{Cur_Code}}</td>
                </tr>
            </table>
<hr>
{% endblock %}

{# ============================================================================= #}
