{# ============================================================================= #}
{# Get Year to report Statistics per Type for                                    #}
{# (c) Sertechno 2019                                                            #}
{# GLVH @ 2019-01-21                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Collector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h2>Use per Charge Unit Type: </h2>
    <h3>Statistics Report: </h3>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{{ wtf.quick_form(form) }}
<hr>
{% endblock %}
{# ============================================================================= #}
