{# ============================================================================= #}
{# Billing Report Template                                                       #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}
    
{% block page_content %}
    <h2>Export File: <a href="{{ href }}">{{ output_file }}</a><h2>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
{% endblock %}

{# ============================================================================= #}
