{% extends "bootstrap/base.html" %}
{% block head %}
{# { super() } #}
  <!-- Collector Header Required Code -->
  <!-- GLVH 2018 -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link   rel="stylesheet"  href = "{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <script                   src  = "{{ url_for('static', filename = 'js/jquery.min.js'     ) }}"></script>
  <script                   src  = "{{ url_for('static', filename = 'js/popper.min.js'     ) }}"></script>
  <script                   src  = "{{ url_for('static', filename = 'js/bootstrap.min.js'  ) }}"></script>
  <!-- Browser tab icon -->
  <link rel="shortcut icon" href = "{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">
  <link rel="icon"          href = "{{ url_for('static', filename = 'img/favicon.ico') }}" type="image/x-icon">

  <!-- --------- -->

{% endblock %}

{% block title %}Collector{% endblock %}

{% block navbar %}
    <!-- ----------------------------- -->
    <!-- gen_menu_functions - Gen_Menu -->
    <!-- ----------------------------- -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="/static/img/logo_emtec.jpg" title="" alt="Emtec Group"></a>
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="/static/img/logo_sertechno.png" title="" alt="Sertechno" align="right"></a>
        <!-- Links -->

        <ul class="navbar-nav">
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              <h3>Collector</h3>
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/login">Login</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/logout">Logout</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Tables
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Platforms_Query">Platforms</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Customers_Query">Customers</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Cost_Centers_Query">Cost Centers</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Configuration_Items_Query">Configuration Items</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Charge_Units_Query">Charge Units</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Charge_Items_Query">Charge Items</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Rates_Query">Rates</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Countries_Query">Countries</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Currencies_Query">Currencies</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Countries_Currencies_Query">Countries & Currencies</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Exchange_Rates_Query">Exchange Rates</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Measure_Units_Query">Measure Units</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/CIT_Generations_Query">Charge Items Generation Types</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/CIT_Statuses_Query">Charge Items Status Types</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/CU_Types_Query">Charge Unit Types</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/CU_Operations_Query">Charge Unit Conversion Operations</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Rat_Periods_Query">Rate Periods</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <b>Development Only</b>
            <a class="dropdown-item" href="/select/Trace_Query">Trace records</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Dev_Tables_Query">Tables</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/select/Dev_Forms_Query">Forms</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/reports/DB_Status">DB Status</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Charging Data
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/reports/Data_Consistency">Data Consistency Check</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/forms/Get_Charging_Resume">Monthly Pre-Charging</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/under_construction">Create VM</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Charging Reports
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/forms/Export_Charging_Resume">Monthly Pre_Charging</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Options
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/under_construction">System Users</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/under_construction">Configuration</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/plugins">Custom Add Ons</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Help
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/under_construction">FAQ</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/under_construction">About Collector</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
        </ul>
        <ul class="navbar navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
        <!-- ------------------------------- -->
        <!-- gen_menu_functions - Gen_Option -->
        <!-- ------------------------------- -->
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="navbardrop" data-toggle="dropdown">
              Account
            </a>
            <div class="dropdown-menu">
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/register">Register User</a>
            <hr>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/change-password">Change Password</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/change-email">Change Email</a>
          <!-- ---------------------------------- -->
          <!-- gen_menu_functions - Gen_SubOption -->
            <a class="dropdown-item" href="/auth/logout">Log Out</a>
          <!-- ---------------------------------- -->
            </div>
          </li>

        <!-- ------------------------------- -->
          {% else %}
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- ----------------------------- -->
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container" style="margin-top:50px">
    {% block page_content %}{% endblock %}
</div>
<!-- Exaple indicates that those scripts shoul run near the </body> tag -->
<script src="/static/js/jquery-3.3.1.js"      crossorigin="anonymous"></script>
<script src="/static/js/popper.min.js"      crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"   crossorigin="anonymous"></script>
{% endblock %}
