{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Collector{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <br>
    <h1>Collector v 2.1.0</h1>
    <p>(c) EMTEC GROUP 2018/2019/2020/2021 - GLVH</p>
    <hr>
    {% if current_user.is_authenticated %}
        <p>Current logged in user is '<b>{{ current_user.username }}</b>' with role '<b>{{ current_user.role.name}}</b>'</p>
        <hr>
        <p>({{current_user.password_hash[17:]}}-{{"%04X"|format(current_user.role.permissions)}})</p>         
    {% else %}
        <p>No user is authenticated in Collector now. You can login <a href="{{ url_for('auth.login') }}"><b>here</b></a></p>     
    {% endif %}
    <hr>
    <p>Your browser is "{{ data["user_agent"] }}"</p>
    <p>Local connection time is @ {{ data["date_time"] }}</p>
    <hr> 
    {% if current_user.is_authenticated %}
        {% if current_app.config.TESTING %}
             <p> 
             current_user: {{current_user}} <br>
             current_user.role: {{current_user.role}} <br>    
             dict current_user.role: {{current_user.role.__dict__}} <br>    
             current_user.role.name: {{current_user.role.name}} <br>    
             current_user.role.id: {{current_user.role.id}} <br>  
             current_user.role.id in 1,2,3: {{current_user.role.id in (1,2,3)}} <br>  
             current_user.role.id in 2,3,4,5: {{current_user.role.id in (2,3,4,5)}} <br>  
             COLLECTOR PERIOD={{collectordata.COLLECTOR_PERIOD}}
             collectordata= {{collectordata}} <br>  
             current_app= {{current_app}} <br>  
             current_app.config= {{current_app.config}} <br>  
             current_app.CONFIG= {{current_app.CONFIG}} 
             </p>  
        {% endif %}
    {% endif %}
</div>

{% endblock %}



