{# ============================================================================= #}
{# Development Only DB Status Report                                             #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}


{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

    
{% block page_content %}
{% if current_user.role.id == 1 %} {% include 'collector_faq_customer.html' %} {% endif %}
{% if current_user.role.id == 2 %} {% include 'collector_faq_reporter.html' %} {% endif %}
{% if current_user.role.id == 3 %} {% include 'collector_faq_charger.html' %} {% endif %}
{% if current_user.role.id == 4 %}
    {% include 'collector_faq_administrator.html' %}
    {% include 'collector_faq_customer.html' %}
    {% include 'collector_faq_reporter.html' %}
    {% include 'collector_faq_charger.html' %}
{% endif %}
{% endblock %}

{# ============================================================================= #}


