{# ============================================================================= #}
{# Get Year to report Statistice per Type for                                    #}
{# (c) Sertechno 2019                                                            #}
{# GLVH @ 2019-01-21                                                            #}
{# ============================================================================= #}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Collector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h2>Statistics: </h2>
    <h2>Use Report, actual and proyection</h2>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>
{{ wtf.quick_form(form) }}
<hr>
{% endblock %}
{# ============================================================================= #}
