{# ============================================================================= #}
{# Charging Report Template                                                      #}
{# For Customer on a defined period and status                                   #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

    
{% block page_content %}

        <div class="page-header">
            <h2>Statistic Report:<h2><br>
            <h3>Use per Charge Unit Type for year : {{Year}}<h3>        
            <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
        </div>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th align="center" valign="top">CHARGE UNIT<br>TYPE</th>
                    <th align="center">MONTH</th>
                    <th align="center">COUNT</th>
                    <th align="center">AVERAGE</th>
                    <th align="center">STANDARD<br>DEVIATION</th>            
                    <th align="center">MIN</th>
                    <th align="center">MAX</th> 
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td align="right"   >{{ row.Typ_Code }}</td>
                    <td align="right"   >{{ row.Month }}</td>
                    <td align="right"   >{{ row.Count }}</td>
                    <td align="right"   >{{ row.Mean }}</td>
                    <td align="right"   >{{ row.StdDev }}</td>
                    <td align="right"   >{{ row.Min }}</td>
                    <td align="right"   >{{ row.Max }}</td>

               </tr>
                {% endfor %}
            </tbody>
        </table>
<hr>

{% endblock %}

{# ============================================================================= #}
