{# ============================================================================= #}
{# Charging Report Template                                                      #}
{# For Customer on a defined period and status                                   #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "collector_app.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}{{gettext('Statistics report')}}{% endblock title %}
    
{% block content %}

        <div class="page-header">
            <h2>{{gettext('Statistics report')}}:<h2><br>
            <h3>{{gettext('Use per Charge Unit Type for year')}} : {{Year}}<h3>        
            <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
        </div>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th align="center" valign="top">{{gettext('charge unit<br>type')|upper}}</th>
                    <th align="center">{{gettext('month')|upper}}</th>
                    <th align="center">{{gettext('count')|upper}}</th>
                    <th align="center">{{gettext('average')|upper}}</th>
                    <th align="center">{{gettext('standard<br>deviation')|upper}}</th>            
                    <th align="center">{{gettext('min')|upper}}</th>
                    <th align="center">{{gettext('max')|upper}}</th> 
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td align="right"   >{{ row.Typ_Code }}</td>
                    <td align="right"   >{{ row.Month }}</td>
                    <td align="right"   >{{ row.Count }}</td>
                    <td align="right"   >{{ row.Mean }}</td>
                    <td align="right"   >{{ row.StdDev }}</td>
                    <td align="right"   >{{ row.Min }}</td>
                    <td align="right"   >{{ row.Max }}</td>

               </tr>
                {% endfor %}
            </tbody>
        </table>
<hr>

{% endblock content %}

{# ============================================================================= #}
