{# ============================================================================= #}
{# Get Year to report Statistice per Type for                                    #}
{# (c) Sertechno 2019                                                            #}
{# GLVH @ 2019-01-21                                                            #}
{# ============================================================================= #}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Collector{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h2>Statistics: </h2>
    <h2>Use per Charge Unit Type Filtered version</h2>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>

{# <hr>{{Data}}<hr> #}

<hr>
{# <img src="/static/{{filename}}"  color=yellow width="32" height="32" title="" alt="Add"> #}
<table>
    <tr>
        <td>
        <img src="/static/tmp/{{filename}}">
        </td>
    </tr>
    <tr>
        <td>
            <table class="table">
                <thead  class="thead-dark">
                    <tr><th>Filter applied</th><th></th><tr>
                </thead>
                <tbody>
                    <tr><td>Type:</td><td>{{Data['afield']}} of {{Data['cutype']}}</td></tr>
                    <tr><td>From: {{months[ Data['from']-1 ][0:3]}}/{{Data['year']}}</td>
                        <td>To:   {{months[ Data['to']-1   ][0:3]}}/{{Data['year']}}</td></tr>
                    {% if Data['customer']>1 %} <tr><td>Customer:</td>          <td>{{Data['cusname']}}</td>        </tr>{% endif %}
                    {% if Data['platform']>1 %} <tr><td>Platform:</td>          <td>{{Data['planame']}}</td>        </tr>{% endif %}
                    {% if Data['cc']>1 %}       <tr><td>Cost Center:            </td><td>{{Data['ccname']}}</td>    </tr>{% endif %}
                    {% if Data['ci']>1 %}       <tr><td>Configuration Item:</td><td>{{Data['ciname']}}</td>         </tr>{% endif %}
                </tbody>
            </table>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Actual Data</th>
                        {% for i in range(0,12) %}
                            <th>{{months[i][0:3]}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>{{Data['year']}}</b></td>
                        {% for i in range(0,12) %}
                            {% if Data['field']==2 %}
                            <td>{{ "{:,.2f}".format(actual[i]) }}</td>
                            {% else %}
                            <td>{{ "{:,.0f}".format(actual[i]) }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% if Data['estimation']>0 %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Estimate Data</th>
                        {% for i in range(0,12) %}
                            <th>{{months[i][0:3]}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td><b>{{Data['year']+1}}</b></td>
                        {% for i in range(0,12) %}
                            
                            {% if Data['field']==2 %}
                            <td><font color="red">{{ "{:,.2f}".format(estimate[i]) }}</font></td>
                            {% else %}
                            <td><font color="red">{{ "{:,.0f}".format(estimate[i]) }}</font></td>
                            {% endif %}
                            
                        {% endfor %}
                    </tr>
                <tbody>
            </table>
            {% endif %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>STATISTICS</th>{% for i in range(0,12) %}<th></th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>N</b></td>                   <td>{{ Data['rs'].n                                      }}</td>
                        <td><b>Mean</b></td>                <td>{{ "{:,.2f}".format(Data['rs'].mean())               }} {{Data['mu']}}</td>
                        <td><b>Min</b></td>                 <td>{{ "{:,.2f}".format(Data['rs'].min())                }} {{Data['mu']}}</td>
                        <td><b>Max</b></td>                 <td>{{ "{:,.2f}".format(Data['rs'].max())                }} {{Data['mu']}}</td>
                        {# <td><b>Variance</b></td>            <td>{{ "{:,.2f}".format(Data['rs'].variance())           }} {{Data['mu']}}</td> #}
                        <td><b>Standard Deviation</b></td>  <td>{{ "{:,.2f}".format(Data['rs'].standard_deviation()) }} {{Data['mu']}}</td>
                    </tr>
                    {% if Data['coeficients_yx'] != None %}
                    <tr>
                        <td><b>RL for Actual Data</b></td>
                        <td><b>y</b> = {{ "{:,.2f}".format(Data['coeficients_yx'].0) }}<b>x</b> + {{ "{:,.2f}".format(Data['coeficients_yx'].1) }}</td>
                        {% if Data['coeficients_yx2'] != None %}
                        <td><b>RL adjusted by season</b></td>
                        <td><b>y</b> = {{ "{:,.2f}".format(Data['coeficients_yx2'].0) }}<b>x</b> + {{ "{:,.2f}".format(Data['coeficients_yx2'].1) }}</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                <tbody>
            </table>
        <td>
    </tr>
</table>
<hr>

{% endblock %}
{# ============================================================================= #}
