{# ============================================================================= #}
{# Get Year to report Statistics per Type for                                    #}
{# (c) Sertechno 2019                                                            #}
{# GLVH @ 2019-01-21                                                             #}
{# ============================================================================= #}
{% extends "collector_app.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{gettext('statistics')|capitalize}}{% endblock title %}
{% block content %}
<div class="page-header">
    <h2>{{gettext('Use per Charge Unit Type')}}: </h2>
    <h3>{{gettext('Statistics Report')}}: </h3>
    <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
</div>
{{ wtf.quick_form(form) }}
<hr>
{% endblock content %}
{# ============================================================================= #}
