{# ============================================================================= #}
{# Development Only DB Status Report                                             #}
{# (c) Sertechno 2018                                                            #}
{# GLVH @ 2018-11-11                                                             #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}


{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

    
{% block page_content %}
    {#<div class="page-header">#}
            <h2>DB Consistency Check Report:</h2>

            <table>
            <tr><td>Version</td><td> : </td><td>{{data.version}}</td></tr> 
            <tr><td>Host Name</td><td> : </td><td>{{data.hostname}}</td></tr>
            </table>
            <a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a>
            
            <hr>
            <table>
            <tr><td><b>Rate Records</td><td> : </td><td>{{data.rate_rows.__len__()}}</b></td></tr>
            </table>
            <table class="table">
                <thead class="thead-dark">
                    <tr colspan="7">
                        <th align="center" valign="top">ID</th>
                        <th align="center" valign="top">TYPE</th>
                        <th align="center" valign="top">PLATFORM</th>
                        <th align="center" valign="top">CUSTOMER</th>
                        <th align="center" valign="top">CC</th>
                        <th align="center" valign="top">CI</th>
                        <th align="center" valign="top">RATE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data.rate_rows %}
                    <tr>
                        <td><a href="/forms/Rates?Rat_Id={{row.Rates.Rat_Id}}">{{row.Rates.Rat_Id}}</a></td>
                        <td>{{row.Rates.Typ_Code}}</td>
                        <td>{{row.Platforms.Pla_Name}}</td>
                        <td>{{row.Customers.Cus_Name}}</td>
                        <td>{{row.Cost_Centers.CC_Description}}</td>
                        <td>{{row.Configuration_Items.CI_Name}}</td>
                        <td>
                        {% if is_valid_rate(row.Rates.Rat_Type)%}
                        VALID RATE
                        {% else %}
                        INVALID RATE
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr>
            <table>
            <tr><td><b>Charge Unit Records with unmatching rate</td><td> : </td><td>{{data.cu_rows.__len__()}}</b></td></tr>
            </table>
            {% if data.cu_rows.__len__() > 0 %}
            <table class="table">
                <thead class="thead-dark">
                    <tr colspan="7">
                        <th align="center" valign="top">CU</th>
                        <th align="center" valign="top">CI</th>
                        <th align="center" valign="top">PLATFORM</th>
                        <th align="center" valign="top">CUSTOMER</th>
                        <th align="center" valign="top">CC</th>
                        <th align="center" valign="top">TYPE</th>
                        <th align="center" valign="top">RATE</th>
                        <th align="center" valign="top">CHK</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row,RATE in data.cu_rows %}
                    <tr>
                        {# {row} #}
                        <td><a href="/forms/Charge_Units?CU_Id={{row.Charge_Units.CU_Id}}">{{row.Charge_Units.CU_Id}}</a></td>
                        <td>{{row.Configuration_Items.CI_Name}}</a></td>
                        <td>{{row.Platforms.Pla_Name}}</td>
                        <td>{{row.Customers.Cus_Name}}</td>
                        <td>{{row.Cost_Centers.CC_Description}}</td>
                        <td>{{row.Charge_Units.Typ_Code}}</td>
                        <td>{{row.Charge_Units.Rat_Id}}</td>
                        <td>{{RATE}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            
            <hr>
            <table>
            <tr><td><b>Suspicious Configuration Item Records</td><td> : </td><td>{{data.ci_rows.__len__()}}</b>
            (CI Cost Center is equal to Customer CC - Top Level CC)</td></tr>
            </table>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th align="center" valign="top">ID</th>
                        <th align="center" valign="top">NAME</th>
                        <th align="center" valign="top">UUID</th>
                        <th align="center" valign="top">PLATFORM</th>
                        <th align="center" valign="top">CC</th>
                    </tr>
                </thead>
                <tbody>
                    {# % for (row,Cus_Name,Pla_Name,CC_Description,Value) in data.ci_rows % #}
                    {% for (row,Cus_Name,Pla_Name,CC_Description) in data.ci_rows %}
                    <tr>
                        <td>{{row.CI_Id}}</td>
                        <td><a href="/forms/Configuration_Items?CI_Id={{row.CI_Id}}">{{row.CI_Name}}</a></td>
                        <td>{{row.CI_UUID}}</td>
                        <td>{{Pla_Name}}</td>
                        <td>{{CC_Description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    {#</div>#}
    <hr>
{% endblock %}

{# ============================================================================= #}
