	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:08
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-a-folder-interface-black-symbol-with-plus-sign:before { content: "\f100"; }
.flaticon-add-black-circular-interface-button:before { content: "\f101"; }
.flaticon-add-black-notebook-notes-symbol-of-interface:before { content: "\f102"; }
.flaticon-add-circular-button-outline-with-plus-sign:before { content: "\f103"; }
.flaticon-add-file:before { content: "\f104"; }
.flaticon-add-file-1:before { content: "\f105"; }
.flaticon-add-file-interface-symbol-of-paper-sheet-with-text-lines-and-plus-sign:before { content: "\f106"; }
.flaticon-add-file-sheet:before { content: "\f107"; }
.flaticon-add-folder:before { content: "\f108"; }
.flaticon-add-folder-black-interface-symbol:before { content: "\f109"; }
.flaticon-add-folder-interface-outlined-button:before { content: "\f10a"; }
.flaticon-add-tab-file-interface-symbol:before { content: "\f10b"; }
.flaticon-alarm-clock-black-symbol:before { content: "\f10c"; }
.flaticon-arrow-back-button:before { content: "\f10d"; }
.flaticon-arrow-triangular-black-shape-symbol-pointing-upper-right:before { content: "\f10e"; }
.flaticon-attachment:before { content: "\f10f"; }
.flaticon-attachment-vertical-paperclip-interface-symbol:before { content: "\f110"; }
.flaticon-audio-interface-speaker-symbol:before { content: "\f111"; }
.flaticon-audio-interface-symbol:before { content: "\f112"; }
.flaticon-back-left-arrow-circular-button:before { content: "\f113"; }
.flaticon-back-left-arrow-circular-button-1:before { content: "\f114"; }
.flaticon-back-left-arrow-curve-symbol:before { content: "\f115"; }
.flaticon-battery-empty-status-interface-symbol-of-gross-line:before { content: "\f116"; }
.flaticon-battery-with-a-bolt:before { content: "\f117"; }
.flaticon-battery-with-bolt:before { content: "\f118"; }
.flaticon-birthday-cake-with-candles:before { content: "\f119"; }
.flaticon-birthday-cake-with-three-burning-candles:before { content: "\f11a"; }
.flaticon-black-board-with-business-graphical-presentation:before { content: "\f11b"; }
.flaticon-black-cloud-of-stormy-weather:before { content: "\f11c"; }
.flaticon-black-notebook:before { content: "\f11d"; }
.flaticon-black-paper-notes-notebook-with-spring:before { content: "\f11e"; }
.flaticon-black-papers-symbol:before { content: "\f11f"; }
.flaticon-blackboard:before { content: "\f120"; }
.flaticon-blackboard-1:before { content: "\f121"; }
.flaticon-blackboard-with-a-list:before { content: "\f122"; }
.flaticon-blackboard-with-business-graphical-presentation:before { content: "\f123"; }
.flaticon-blackboard-with-text-lines:before { content: "\f124"; }
.flaticon-blank-writing-pages-with-tabs:before { content: "\f125"; }
.flaticon-board-tool-for-presentations:before { content: "\f126"; }
.flaticon-book-open-blank-pages:before { content: "\f127"; }
.flaticon-book-opened-outlined-education-tool-symbol:before { content: "\f128"; }
.flaticon-bookmark-big-outlined-interface-tool-symbol:before { content: "\f129"; }
.flaticon-bookmark-black-tool-symbol:before { content: "\f12a"; }
.flaticon-box-black-container-tool:before { content: "\f12b"; }
.flaticon-box-or-drawer-side-view-outlined-tool-symbol:before { content: "\f12c"; }
.flaticon-button-or-phone-keyboard-of-nine-square-buttons-outlines:before { content: "\f12d"; }
.flaticon-button-symbol-of-nine-dots:before { content: "\f12e"; }
.flaticon-cash-money:before { content: "\f12f"; }
.flaticon-cellphone:before { content: "\f130"; }
.flaticon-cellphone-in-horizontal-position:before { content: "\f131"; }
.flaticon-cellphone-or-tablet-horizontal-position-screen-visualization-option:before { content: "\f132"; }
.flaticon-cellphone-outline:before { content: "\f133"; }
.flaticon-chat-rectangular-empty-speech-bubble-symbol:before { content: "\f134"; }
.flaticon-chat-two-outlined-interface-symbol:before { content: "\f135"; }
.flaticon-chocolate-cupcake:before { content: "\f136"; }
.flaticon-circle-with-diagonal-line-inside:before { content: "\f137"; }
.flaticon-circular-alarm-clock:before { content: "\f138"; }
.flaticon-circular-arrows-refresh-interface-symbol:before { content: "\f139"; }
.flaticon-circular-black-clock:before { content: "\f13a"; }
.flaticon-circular-gift:before { content: "\f13b"; }
.flaticon-circular-gift-top-view-with-ribbon:before { content: "\f13c"; }
.flaticon-circular-symbol-with-diagonal-line-inside:before { content: "\f13d"; }
.flaticon-circular-wall-clock:before { content: "\f13e"; }
.flaticon-clipboard:before { content: "\f13f"; }
.flaticon-clipboard-black-tool:before { content: "\f140"; }
.flaticon-clock-dark-black-circular-tool-shape-symbol:before { content: "\f141"; }
.flaticon-clock-outline:before { content: "\f142"; }
.flaticon-clock-symbol-with-counterclockwise-back-circular-rotating-arrow-around:before { content: "\f143"; }
.flaticon-clockwise-circular-arrow:before { content: "\f144"; }
.flaticon-clockwise-circular-arrow-1:before { content: "\f145"; }
.flaticon-cloud:before { content: "\f146"; }
.flaticon-cocktail-black-silhouette:before { content: "\f147"; }
.flaticon-cocktail-outlined-glass-with-a-straw:before { content: "\f148"; }
.flaticon-coffee-shop-interface-symbol-of-a-cup:before { content: "\f149"; }
.flaticon-coffee-shop-interface-symbol-of-black-cup-on-horizontal-line:before { content: "\f14a"; }
.flaticon-cogwheel-tool-with-pointed-cogs:before { content: "\f14b"; }
.flaticon-comment-black-rectangular-speech-bubble-interface-symbol:before { content: "\f14c"; }
.flaticon-compass:before { content: "\f14d"; }
.flaticon-compass-1:before { content: "\f14e"; }
.flaticon-computer-monitor-outline:before { content: "\f14f"; }
.flaticon-configuration-gear-interface-symbol:before { content: "\f150"; }
.flaticon-copy-black-interface-symbol-of-two-paper-sheets:before { content: "\f151"; }
.flaticon-copy-black-interface-symbol-of-two-paper-sheets-1:before { content: "\f152"; }
.flaticon-copy-two-rectangular-paper-sheets-interface-symbol:before { content: "\f153"; }
.flaticon-copy-two-squares-outlined-interface-symbol:before { content: "\f154"; }
.flaticon-counterclockwise-circular-arrow:before { content: "\f155"; }
.flaticon-counterclockwise-rotating-arrow-around-a-clock:before { content: "\f156"; }
.flaticon-counterclockwise-rotating-circular-arrow-symbol:before { content: "\f157"; }
.flaticon-cross-circular-button-outline:before { content: "\f158"; }
.flaticon-cross-delete-black-circular-button:before { content: "\f159"; }
.flaticon-crystal-glass-outline-drinking-tool-symbol:before { content: "\f15a"; }
.flaticon-cupcake-thin-outline:before { content: "\f15b"; }
.flaticon-curved-left-arrow-symbol:before { content: "\f15c"; }
.flaticon-daily-calendar-on-day-10-page-black-symbol:before { content: "\f15d"; }
.flaticon-dark-earth-globe-symbol-of-international-business:before { content: "\f15e"; }
.flaticon-decrease-zoom-magnifier-symbol-of-interface-with-minus-sign-inside:before { content: "\f15f"; }
.flaticon-discharged-battery-interface-symbol:before { content: "\f160"; }
.flaticon-documents:before { content: "\f161"; }
.flaticon-dollar-bill:before { content: "\f162"; }
.flaticon-dollar-bills-black-papers-symbol:before { content: "\f163"; }
.flaticon-dollar-coins:before { content: "\f164"; }
.flaticon-dollar-coins-stack:before { content: "\f165"; }
.flaticon-dollar-money-circular-symbol:before { content: "\f166"; }
.flaticon-dollars-bills:before { content: "\f167"; }
.flaticon-down-arrow-circular-button:before { content: "\f168"; }
.flaticon-download:before { content: "\f169"; }
.flaticon-download-black-circular-button:before { content: "\f16a"; }
.flaticon-download-from-the-cloud:before { content: "\f16b"; }
.flaticon-download-symbol:before { content: "\f16c"; }
.flaticon-drink-glass-black-silhouette:before { content: "\f16d"; }
.flaticon-email-back-outlined-envelope-interface-symbol:before { content: "\f16e"; }
.flaticon-email-black-circular-button:before { content: "\f16f"; }
.flaticon-email-black-frontal-envelope-symbol:before { content: "\f170"; }
.flaticon-email-circular-button:before { content: "\f171"; }
.flaticon-email-new-symbol-of-black-back-closed-envelope-for-interface:before { content: "\f172"; }
.flaticon-empty-rectangle:before { content: "\f173"; }
.flaticon-event-calendar-symbol:before { content: "\f174"; }
.flaticon-event-calendar-symbol-1:before { content: "\f175"; }
.flaticon-event-on-day-10:before { content: "\f176"; }
.flaticon-facebook-black-social-button-circle:before { content: "\f177"; }
.flaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f178"; }
.flaticon-favorites-star:before { content: "\f179"; }
.flaticon-file:before { content: "\f17a"; }
.flaticon-file-black-sheet-with-text-lines-interface-symbol:before { content: "\f17b"; }
.flaticon-file-black-text-paper-sheet-symbol-with-one-folded-corner:before { content: "\f17c"; }
.flaticon-file-interface-symbol-of-text-paper-sheet:before { content: "\f17d"; }
.flaticon-flag:before { content: "\f17e"; }
.flaticon-flag-black-symbol:before { content: "\f17f"; }
.flaticon-flag-symbol-of-black-triangular-shape:before { content: "\f180"; }
.flaticon-flag-symbol-of-triangular-shape:before { content: "\f181"; }
.flaticon-folder-black-symbol:before { content: "\f182"; }
.flaticon-folder-black-tool-shape-with-one-tab:before { content: "\f183"; }
.flaticon-folder-outline:before { content: "\f184"; }
.flaticon-folder-outlined-symbol:before { content: "\f185"; }
.flaticon-frame-square-symbol-with-four-angles:before { content: "\f186"; }
.flaticon-full-battery-interface-symbol:before { content: "\f187"; }
.flaticon-full-battery-status-interface-symbol-with-stripes-inside:before { content: "\f188"; }
.flaticon-geometric-shapes-outlined-symbol:before { content: "\f189"; }
.flaticon-glass:before { content: "\f18a"; }
.flaticon-glass-solid-shape:before { content: "\f18b"; }
.flaticon-global-earth-globe-symbol-with-americas-shape:before { content: "\f18c"; }
.flaticon-google-plus:before { content: "\f18d"; }
.flaticon-google-plus-circular-button:before { content: "\f18e"; }
.flaticon-graphical-presentation-of-business-on-a-board:before { content: "\f18f"; }
.flaticon-graphical-presentation-on-whiteboard:before { content: "\f190"; }
.flaticon-half-battery-status-interface-symbol:before { content: "\f191"; }
.flaticon-half-battery-status-interface-symbol-of-lines:before { content: "\f192"; }
.flaticon-headphones:before { content: "\f193"; }
.flaticon-headphones-tool-for-ears:before { content: "\f194"; }
.flaticon-heart-black-button-symbol-of-interface-for-social-likes:before { content: "\f195"; }
.flaticon-heart-outline-like-interface-symbol:before { content: "\f196"; }
.flaticon-help-circular-button-of-interface-with-question-mark:before { content: "\f197"; }
.flaticon-horizontal-and-vertical-screen-visualization-options-symbol:before { content: "\f198"; }
.flaticon-horizontal-position-option-of-screen-visualization-of-a-phone-or-a-tablet:before { content: "\f199"; }
.flaticon-house-black-building:before { content: "\f19a"; }
.flaticon-house-building-outline:before { content: "\f19b"; }
.flaticon-images:before { content: "\f19c"; }
.flaticon-images-interface-symbol:before { content: "\f19d"; }
.flaticon-images-night-landscape-rectangular-interface-symbol:before { content: "\f19e"; }
.flaticon-info-solid-circular-button:before { content: "\f19f"; }
.flaticon-information-web-circular-button-symbol:before { content: "\f1a0"; }
.flaticon-internet-download-symbol:before { content: "\f1a1"; }
.flaticon-keyboard-of-phone-nine-squares-black-buttons-symbol:before { content: "\f1a2"; }
.flaticon-label-black-button-interface-symbol:before { content: "\f1a3"; }
.flaticon-label-outline:before { content: "\f1a4"; }
.flaticon-label-outlined-button-symbol-of-interface:before { content: "\f1a5"; }
.flaticon-laptop:before { content: "\f1a6"; }
.flaticon-laptop-black-computer:before { content: "\f1a7"; }
.flaticon-left-arrow-angle-in-circular-button:before { content: "\f1a8"; }
.flaticon-left-arrow-curved-outline:before { content: "\f1a9"; }
.flaticon-less-zoom-symbol:before { content: "\f1aa"; }
.flaticon-library-symbol-of-three-rectangular-books-outlines:before { content: "\f1ab"; }
.flaticon-locked-black-square-padlock-symbol:before { content: "\f1ac"; }
.flaticon-locked-padlock:before { content: "\f1ad"; }
.flaticon-login:before { content: "\f1ae"; }
.flaticon-login-1:before { content: "\f1af"; }
.flaticon-logout:before { content: "\f1b0"; }
.flaticon-logout-1:before { content: "\f1b1"; }
.flaticon-logout-2:before { content: "\f1b2"; }
.flaticon-logout-house-symbol-with-arrow-pointing-out-to-right:before { content: "\f1b3"; }
.flaticon-mail-frontal-envelope-symbol:before { content: "\f1b4"; }
.flaticon-map-folded-outlined-paper-symbol:before { content: "\f1b5"; }
.flaticon-menu-button-of-three-lines:before { content: "\f1b6"; }
.flaticon-menu-three-lines-button-interface-symbol:before { content: "\f1b7"; }
.flaticon-mobile-phone:before { content: "\f1b8"; }
.flaticon-mobile-phone-outline:before { content: "\f1b9"; }
.flaticon-money-coin-or-button-with-dollar-sign-in-black-circle:before { content: "\f1ba"; }
.flaticon-monitor:before { content: "\f1bb"; }
.flaticon-more-button-interface-symbol-of-three-horizontal-aligned-dots:before { content: "\f1bc"; }
.flaticon-more-button-of-three-circles:before { content: "\f1bd"; }
.flaticon-more-circular-button-interface-symbol-of-three-horizontal-dots:before { content: "\f1be"; }
.flaticon-more-circular-symbol:before { content: "\f1bf"; }
.flaticon-more-zoom:before { content: "\f1c0"; }
.flaticon-music-black-circular-button:before { content: "\f1c1"; }
.flaticon-music-circular-black-button:before { content: "\f1c2"; }
.flaticon-music-circular-button:before { content: "\f1c3"; }
.flaticon-music-circular-button-1:before { content: "\f1c4"; }
.flaticon-mute-audio:before { content: "\f1c5"; }
.flaticon-mute-speaker-audio-interface-symbol:before { content: "\f1c6"; }
.flaticon-new-message-interface-symbol:before { content: "\f1c7"; }
.flaticon-nine-circles-button:before { content: "\f1c8"; }
.flaticon-notebook:before { content: "\f1c9"; }
.flaticon-open-folder:before { content: "\f1ca"; }
.flaticon-opened-folder:before { content: "\f1cb"; }
.flaticon-options-circular-button:before { content: "\f1cc"; }
.flaticon-pencil-black-circular-button:before { content: "\f1cd"; }
.flaticon-pencil-outline:before { content: "\f1ce"; }
.flaticon-pencil-writing-diagonal-tool-symbol:before { content: "\f1cf"; }
.flaticon-pencil-writing-tool-symbol-in-circular-button-outline:before { content: "\f1d0"; }
.flaticon-phone-or-tablet-in-horizontal-position-outlined-tool-symbol:before { content: "\f1d1"; }
.flaticon-phone-outline:before { content: "\f1d2"; }
.flaticon-photo-camera-black-tool:before { content: "\f1d3"; }
.flaticon-photo-camera-outline:before { content: "\f1d4"; }
.flaticon-photos:before { content: "\f1d5"; }
.flaticon-pinterest-logotype-circle:before { content: "\f1d6"; }
.flaticon-pinterest-social-visual-website-logotype:before { content: "\f1d7"; }
.flaticon-pizza-triangle:before { content: "\f1d8"; }
.flaticon-pizza-triangular-piece:before { content: "\f1d9"; }
.flaticon-placeholder:before { content: "\f1da"; }
.flaticon-placeholder-black-shape-for-localization-on-maps:before { content: "\f1db"; }
.flaticon-play-black-rectangular-multimedia-button-symbol:before { content: "\f1dc"; }
.flaticon-play-symbol:before { content: "\f1dd"; }
.flaticon-portfolio-black-tool:before { content: "\f1de"; }
.flaticon-portfolio-outline:before { content: "\f1df"; }
.flaticon-postcard:before { content: "\f1e0"; }
.flaticon-postcard-or-email-envelope-front:before { content: "\f1e1"; }
.flaticon-power-button-sign:before { content: "\f1e2"; }
.flaticon-power-outlined-symbol:before { content: "\f1e3"; }
.flaticon-print-dark-printer-tool-symbol-of-interface:before { content: "\f1e4"; }
.flaticon-printer-outline:before { content: "\f1e5"; }
.flaticon-questions-circular-button:before { content: "\f1e6"; }
.flaticon-reading-books-three-black-rectangles:before { content: "\f1e7"; }
.flaticon-recycle-bin-black-tool:before { content: "\f1e8"; }
.flaticon-recycling-container:before { content: "\f1e9"; }
.flaticon-refresh:before { content: "\f1ea"; }
.flaticon-refresh-two-counterclockwise-circular-arrows-interface-symbol:before { content: "\f1eb"; }
.flaticon-refreshing-arrows-couple:before { content: "\f1ec"; }
.flaticon-restaurant:before { content: "\f1ed"; }
.flaticon-restaurant-cutlery-symbol:before { content: "\f1ee"; }
.flaticon-restaurant-fork-and-knife-symbol:before { content: "\f1ef"; }
.flaticon-restaurant-interface-symbol-of-fork-and-knife-couple:before { content: "\f1f0"; }
.flaticon-right-arrow:before { content: "\f1f1"; }
.flaticon-right-arrow-black-circular-button:before { content: "\f1f2"; }
.flaticon-right-arrow-circular-button:before { content: "\f1f3"; }
.flaticon-right-arrow-circular-button-1:before { content: "\f1f4"; }
.flaticon-right-arrow-in-black-circular-button:before { content: "\f1f5"; }
.flaticon-right-arrow-outline:before { content: "\f1f6"; }
.flaticon-right-curved-arrow:before { content: "\f1f7"; }
.flaticon-save-diskette-interface-symbol:before { content: "\f1f8"; }
.flaticon-saving-outlined-diskette-interface-symbol:before { content: "\f1f9"; }
.flaticon-search-magnifier-interface-symbol:before { content: "\f1fa"; }
.flaticon-search-magnifier-interface-symbol-1:before { content: "\f1fb"; }
.flaticon-semicircular-left-arrow:before { content: "\f1fc"; }
.flaticon-semicircular-right-arrow-symbol:before { content: "\f1fd"; }
.flaticon-settings-circular-button:before { content: "\f1fe"; }
.flaticon-speaker:before { content: "\f1ff"; }
.flaticon-speaker-outline:before { content: "\f200"; }
.flaticon-speaker-outline-1:before { content: "\f201"; }
.flaticon-speaker-solid-tool:before { content: "\f202"; }
.flaticon-speech-bubble-black-rectangular-shape:before { content: "\f203"; }
.flaticon-speech-bubble-rectangular-outline-symbol-with-text-lines:before { content: "\f204"; }
.flaticon-speed-control-tool:before { content: "\f205"; }
.flaticon-speedometer-black-circular-tool:before { content: "\f206"; }
.flaticon-square-frame-interface-symbol:before { content: "\f207"; }
.flaticon-square-outline-with-up-arrow-interface-upload-symbol:before { content: "\f208"; }
.flaticon-square-shape-design-tool-interface-symbol:before { content: "\f209"; }
.flaticon-square-shape-interface-symbol:before { content: "\f20a"; }
.flaticon-star-favorite-black-symbol:before { content: "\f20b"; }
.flaticon-tablet-computer-tool-symbol:before { content: "\f20c"; }
.flaticon-tablet-digital-device:before { content: "\f20d"; }
.flaticon-tablet-in-horizontal-position:before { content: "\f20e"; }
.flaticon-tablet-or-cellphone-tool-symbol:before { content: "\f20f"; }
.flaticon-tablet-outline:before { content: "\f210"; }
.flaticon-tablet-outline-in-horizontal-position:before { content: "\f211"; }
.flaticon-tablet-outlined-tool-symbol:before { content: "\f212"; }
.flaticon-tablet-position-options-outlined-symbol:before { content: "\f213"; }
.flaticon-tablet-screen-visualization-positions-options-symbol:before { content: "\f214"; }
.flaticon-tag-black-tool-symbol:before { content: "\f215"; }
.flaticon-telephone:before { content: "\f216"; }
.flaticon-telephone-1:before { content: "\f217"; }
.flaticon-tie-black-male-fashion-cloth-symbol:before { content: "\f218"; }
.flaticon-tie-outline:before { content: "\f219"; }
.flaticon-triptych-paper:before { content: "\f21a"; }
.flaticon-twitter-circular-button:before { content: "\f21b"; }
.flaticon-twitter-logo-in-circular-black-button:before { content: "\f21c"; }
.flaticon-two-black-geometrical-shapes-symbol:before { content: "\f21d"; }
.flaticon-two-black-rectangular-speech-bubbles-interface-chat-symbol:before { content: "\f21e"; }
.flaticon-two-black-squares:before { content: "\f21f"; }
.flaticon-two-glasses-for-drinks:before { content: "\f220"; }
.flaticon-two-visualization-options-for-computer-devices:before { content: "\f221"; }
.flaticon-unlocked-black-square-padlock-tool-security-symbol:before { content: "\f222"; }
.flaticon-unlocked-padlock:before { content: "\f223"; }
.flaticon-up-arrow-circular-button:before { content: "\f224"; }
.flaticon-up-arrow-in-black-circular-button:before { content: "\f225"; }
.flaticon-upload-interface-symbol:before { content: "\f226"; }
.flaticon-upload-to-internet-cloud-interface-symbol:before { content: "\f227"; }
.flaticon-upload-to-internet-cloud-symbol:before { content: "\f228"; }
.flaticon-upload-to-the-cloud:before { content: "\f229"; }
.flaticon-upload-to-the-cloud-dark-interface-symbol:before { content: "\f22a"; }
.flaticon-upper-right-arrow-outlined-symbol:before { content: "\f22b"; }
.flaticon-video-camera-side-view-outlined-tool-symbol:before { content: "\f22c"; }
.flaticon-video-symbol-of-black-camera:before { content: "\f22d"; }
.flaticon-voice:before { content: "\f22e"; }
.flaticon-voice-microphone-outlined-interface-symbol:before { content: "\f22f"; }
.flaticon-whiteboard:before { content: "\f230"; }
.flaticon-whiteboard-outline:before { content: "\f231"; }
.flaticon-whiteboard-with-text-lines:before { content: "\f232"; }
.flaticon-wine-glasses-black-couple:before { content: "\f233"; }
.flaticon-write-a-note:before { content: "\f234"; }
.flaticon-zoom-increasing-visualization-size-tool-interface-symbol:before { content: "\f235"; }