{# ============================================================================= #}
{# Charging Report Template                                                      #}
{# For Customer on a defined period and status                                   #}
{# (c) Sertechno 2018,2019 + Emtec Group 2020,2021                               #}
{# GLVH @ 2018-11-11                                                             #}
{# GLVH @ 2020-10-23 precicion standarized to .12                                #}
{# GLVH @ 2021-12-11 Progress bar mode integration                               #}
{# ============================================================================= #}
{% extends "collector_app.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}{{gettext('Charging Report')}}{% endblock title %}

{#% block head %}
    {{ super() }}
    { #
    <script type="text/javascript">    
      $(document).ready(function(){    
           var html="<div class='progress-bar progress-bar-striped active' role='progressbar' aria-valuenow=0 aria-valuemin='0' aria-valuemax='100' style='width:0%'>0%</div>";    
           $(".progress").append(html);    
          });    
    </script>
    # }
{% endblock %#}

    
{% block content %}

    {% set prev_CC = ['***'] -%}
    {% set prev_CC_ID = [-1] -%}
    {% set prev_CI = ['***'] -%}
    {% set sum_CC = [0] -%}
    {% set sum_CI = [0] -%}
    {% set count_CC = [0] -%}
    {% set count_CI = [0] -%}
    {% set count_CIT = [0] -%}
    {% set count_REC = [0] -%}
    
    {% set sum_Total = [0] -%}
        <div class="page-header">
            <h2>Charging Report:<h2>
            <h3>
            <table>
                {%- if Cus_Name is defined and Cus_name is not none %}
                <tr><td>{{gettext('customer')|capitalize}}   </td><td> : </td><td>{{Cus_Name}}</td></tr>
                {%- endif %} 
                {%- if CC_Description is defined and CC_Description is not none %}
                <tr><td>{{gettext('cost center')|capitalize}}</td><td> : </td><td>{{CC_Description}}</td></tr>
                {%- endif %} 
                {%- if Pla_Name is defined and Pla_Name is not none %}
                <tr><td>{{gettext('platform')|capitalize}}</td><td> : </td><td>{{Pla_Name}}</td></tr>
                {%- endif %} 
                <tr><td>{{gettext('report from')|capitalize}}</td><td> : </td><td>{{CIT_Date_From}}</td></tr>
                <tr><td>{{gettext('report To')|capitalize}}  </td><td> : </td><td>{{CIT_Date_To}}</td></tr>
                <tr><td>{{gettext('status')|capitalize}}     </td><td> : </td><td>{{CIT_Status_Value}}</td></tr>
                <tr><td>{{gettext('currency')|capitalize}}   </td><td> : </td><td>{{Cur_Name}} ({{Cur_Code}})</td></tr>
            </table>
            <a href="#" onclick="history.go(-1)" class="btn btn-outline-primary"><i class="bi bi-arrow-left text-primary" width=32></i></a>
            <a href="/"                          class="btn btn-outline-primary"><i class="bi bi-house-door text-primary" width=32></i></a>    
        
                
            <!--a href="#" onclick="history.go(-1)"><img src="/static/img/back.png"  color=yellow width="32" height="32" title="" alt="Add"></a-->

        </div>
        <hr>
    <!-- BASIC PROGRESS BAR SAMPLE ------------------------------------- -->
    <table border=0 width=100% align=center>
        <tr><td><h2><b><input class="form-control-plaintext" id="barTitle" name="barTitle" type="text" value="Calculo de uso a la fecha" style="color:red" align="center"></b></h2></td></tr>
        <!-- STRIPPED PROGRESS BAR SAMPLE ---------------------------------- -->
        <tr><td>
        <div class="m-4" width=100%>
            <!-- Progress bar HTML -->
            <div class="progress" style="height: 32px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="min-width: 50px;"></div>
            </div>

            <!-- jQuery Script -->
            <script>
                var minimum = 0;
                var maximum = 0;
                var counter = 0;
                var percent = 0;
                var previo  = -1;
                var value   = 0;
                var elapsed = 0;
                var message = "";
                var remaining = 0;
                var timeout = 1000;
                var URL =   window.location.protocol + "//" + 
                            window.location.hostname + ":"  + 
                            window.location.port;
                // builds progress advance get URL
                var url =   URL + "/read-progress?ipc_mode={{data.mode}}&ipc_id={{data.id}}";
                // builds progress advance clean URL
                var urlclean =   URL + "/clean-progress?ipc_mode={{data.mode}}&ipc_id={{data.id}}";
                // set a one second sleep prior execution ....
                var query = window.location.search;
                
                arguments = query.split("&");
                
                new_arguments = [];
                
                for (let argument of arguments){
                    arg = argument.split("=");
                    if (arg[0] == "Update"){ arg[1] = 0 }
                    new_arguments.push(arg[0]+"="+arg[1])
                };
                
                new_arguments = new_arguments.join("&")
                // aqui probablemente se deba hacer condicional el puerto
                newurl =    URL + window.location.pathname + new_arguments;
                
                timeout = 1000
                setTimeout(function(){ console.log('waiting'); }, timeout);

                console.log('url = ' + url);
                console.log('url clean = ' + urlclean);
                console.log('new url = ' + newurl);
                var calls = 0
                var fulls = 0
                var empty = 0
                function makeProgress(){
                    console.log('makeProgress({{data.mode}}:{{data.id}}) percent = ' + percent + '%');
                    calls = calls + 1;
                    if(percent <= 100){
                        // get remote progress data here
                        try {
                            $.getJSON( url, function( progress ) {
                                if (progress.advance != null) {
                                    percent = progress.percent;
                                    value   = progress.value;
                                    maximum = progress.maximum;
                                    message = progress.message;
                                    remaining = progress.remaining_seconds;
                                    fulls = fulls + 1;
                                    //console.log('read from {{data.mode}}:{{data.id}} <= ' + percent + '%');
                                }
                                
                                else {
                                    empty = empty + 1;
                                    //console.log('No data from remote server available');
                                    //console.log('No data from remote server available');
                                }
                                
                            });
                        }
                        catch (error) {
                            console.log('se capturo un error ...');
                            console.error(error);
                        }
                        if (percent != previo){
                            console.log('Change !!! read from {{data.mode}}:{{data.id}} <= ' + percent + '%');
                            timeout = 100;
                            previo = percent;
                            $("#barTitle").val(message+' ('+remaining.toFixed(0)+' secs to complete) ...');
                            $(".progress-bar").css("width", percent + "%").text(percent.toFixed(2) + "%");
                            $(".progress-bar").attr("arie-valuenow", value );
                            $(".progress-bar").attr("arie-valuemax", maximum );
                            if (percent >= 100){
                                try {
                                    console.log('eliminando server data ...');
                                    $.getJSON( urlclean, function( data ) {
                                        if (data.status != null) {
                                            console.log(data.status);
                                        }
                                        else {
                                            console.log('No data from remote server clean fuunction');
                                        }
                                    });
                                }
                                catch (error) {
                                    console.log('se capturo un error mientras se eliminaba data remota...');
                                    console.error(error);
                                }

                                console.log('stats: fulls + empty = ' + fulls + ' + ' + empty + ' = ' + calls +' calls');
                                console.log(percent + '% procesado. El proceso continuará ...');
                                // Aqui se redirecciona a la consulta sin update
                                console.log('will redirect to newurl = ' + newurl);
                                window.location.replace(newurl);
                            };
                        }
                        else {
                            timeout = 1000;
                        }
                    };
                    setTimeout("makeProgress()", timeout);
                };
                
                makeProgress();
            </script>
        </div>
        </td></tr>
    </table>
    <!-- GV END OF PROGRESS BAR ------------------------------------ -->
    <hr>
    <b>{{collectordata.COLLECTOR_PERIOD.current}}|{{collectordata.COLLECTOR_PERIOD.active}}|{{collectordata.COLLECTOR_PERIOD.available|replace(',',' ')}}|{{collectordata.COLLECTOR_PERIOD.start}}|{{collectordata.COLLECTOR_PERIOD.end}}</b><br>
{% endblock %}

