{# ============================================================================= #}
{# Period Usage Report Template                                                      #}
{# For Customer on a defined period and status                                   #}
{# (c) Sertechno 2021                                                            #}
{# GLVH @ 2021-12-05                                                            #}
{# ============================================================================= #}
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% import "_macros.html" as macros %}

{% block title %}Collector{% endblock %}

{% block head %}
   {{ super() }}
{% endblock %}

    
{% block page_content %}
    <h1>Usage Resume for period: 
        <span style="color:blue">{{data.period_text}} ({{data.customer}})</span>
    </h1>
    
    <a href="#" onclick="history.go(-1)">
        <img src="/static/img/back.png"
            color=yellow width="32" height="32" title="" alt="Return">
    </a>

    <table style="width:50%" class="table table-striped table-hover table-sm" align="center"> 
        <thead class="thead-dark">   
            <tr> <!-- headers -->
                 <th style="width:60%">Components</th>
                 <th                  >Bill in UF</th>
            </tr>
        </thead>
        <tbody>
            <tr> <!-- Virtual CPUs -->
                 <td align=left ><b>Virtual CPUs</b></td>
                 <td align=right><b>{{"{:20,.2f}".format(data.resume_bill.CPU)}}</b></td>
            </tr>
            <tr> <!-- Virtual RAMs -->
                 <td align=left ><b>Virtual RAMs</b></td>
                 <td align=right><b>{{"{:20,.2f}".format(data.resume_bill.RAM)}}</b></td>
            </tr>
            <tr> <!-- Virtual DSKs -->
                 <td align=left ><b>Storage</b></td>
                 <td align=right><b>{{"{:20,.2f}".format(data.resume_bill.DSK)}}</b></td>
            </tr>
            <tr> <!-- Virtual HDDs -->
                 <td align=left style="margingleft:30px">HDD</td>
                 <td align=left>{{"{:20,.2f}".format(data.resume_bill.HDD)}}</td>
            </tr>
            <tr> <!-- Virtual SDDs -->
                 <td align=left style="margingleft:30px">SSD</td>
                 <td align=left>{{"{:20,.2f}".format(data.resume_bill.SSD)}}</td>
            </tr>
            <tr> <!-- TOTAL LINE -->
                 <td align=right><b>Total UF:</b></td>
                 <td align=right><b>{{"{:20,.2f}".format(data.total_bill_distributed)}}</b></td>
            </tr>
        </tbody>
    </table>

    <h1>Usage Resume with Power and Disk Distribution:</h1>

    <a href="#" onclick="history.go(-1)">
        <img src="/static/img/back.png"
            color=yellow width="32" height="32" title="" alt="Return">
    </a>
    <a href="/download/Period_Usage?temp_filename={{temp_filename}}">
        <img src="/static/img/download.png"  
            color=yellow width="32" height="32" title="" alt="Add"></a>
    </a>

    <table class="table table-striped table-hover table-sm"> 
        <thead class="thead-dark">   
            <tr> <!-- headers -->
                 <th>Components</th>
                 <th>Power<br>Status</th>
                 <th>Recorded<br>Hours</th>
                 <th>Sum<br>Quantity<br>Hours</th>
                 <th>Sum<br>Quantity<br>in Month</th>
                 <th>Base<br>Rate</th>
                 <th>Rate<br>mu/period</th>
                 <th>Monthly<br>Rate</th>
                 <th>Bill in UF<brTotal</th>
            </tr>
        </thead>
        <tbody>
            {%- if data.CPU is defined -%}
            <tr> <!-- Virtual CPUs -->
                 <td align=right>Virtual CPUs</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.1.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.1.rate)}}</td>
                 <td align=right>{{data.rates.cpu.measure_unit}}/{{data.rates.cpu.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.1.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.1.bill)}}</td>
            </tr>
            <tr>
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.CPU.0.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.0.rate)}}</td>
                 <td align=right>{{data.rates.cpu.measure_unit}}/{{data.rates.cpu.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.0.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.CPU.0.bill)}}</td>
            </tr>
            {%- endif -%}
            {%- if data.RAM is defined -%}
            <tr> <!-- Virtual RAMs -->
                 <td align=right>Virtual RAMs</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.1.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.1.rate)}}</td>
                 <td align=right>{{data.rates.ram.measure_unit}}/{{data.rates.ram.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.1.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.1.bill)}}</td>
            </tr>
            <tr>
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.RAM.0.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.0.rate)}}</td>
                 <td align=right>{{data.rates.ram.measure_unit}}/{{data.rates.ram.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.0.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.RAM.0.bill)}}</td>
            </tr>
            {%- endif -%}
            {%- if data.DSK is defined -%}
            <tr> <!-- Virtual DSKs Active -->
                 <td align=right>Virtual DSKs</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.1.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.1.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.1.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <!-- td align=right>{{data.DSK.1.rtmf}}</td -->
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.1.SSD.bill)}}</td>
            </tr>
            <tr> <!-- Virtual DSKs Inactive -->
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.0.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.0.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DSK.0.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DSK.0.SSD.bill)}}</td>
            </tr>
            {%- endif -%}
            {%- if data.IMG is defined -%}
            <tr> <!-- Virtual IMGs Active-->
                 <td align=right>Virtual IMGs</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.1.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.1.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.1.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.1.SSD.bill)}}</td>
            </tr>
            <tr> <!-- Virtual IMGs Inactive -->
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.0.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.0.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.IMG.0.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.IMG.0.SSD.bill)}}</td>
            </tr>
            {%- endif -%}
            {%- if data.SNP is defined -%}
            <tr> <!-- Local Snapshots (SNP) Active -->
                 <td align=right>Local Snapshots (SNP)</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.1.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.1.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.1.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.1.SSD.bill)}}</td>
            </tr>
            <tr> <!-- Local Snapshots (SNP) Inactive -->
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.0.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.0.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.SNP.0.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.SNP.0.SSD.bill)}}</td>
            </tr>
            {%- endif -%}
            {%- if data.DRP is defined -%}
            <tr> <!-- Remote Snapshots (DRP) Active -->
                 <td align=right>Remote Snapshots (DRP)</td>
                 <td align=right>ON</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.1.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.1.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.1.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.1.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.1.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.1.SSD.bill)}}</td>
            </tr>
            <tr> <!-- Remote Snapshots (DRP) Inactive -->
                 <td align=right></td>
                 <td align=right>OFF</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.0.hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.0.Q_hours)}}</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.0.Q_month)}}</td>
                 <td></td><td></td><td></td><td></td>
            </tr>
            <tr> <!-- HDD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>HDD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.0.HDD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.HDD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.HDD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.HDD.bill)}}</td>
            </tr>
            <tr> <!-- SSD -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right>SSD</td>
                 <td align=right>{{"{:20,.6f}".format(data.DRP.0.SSD.Q_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.SSD.rate)}}</td>
                 <td align=right>{{data.rates.dsk.measure_unit}}/{{data.rates.dsk.period}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.SSD.rate_month)}}</td>
                 <td align=right>{{"{:20,.12f}".format(data.DRP.0.SSD.bill)}}</td>
            </tr>
            {%- endif -%}
            
            <tr> <!-- TOTAL LINE -->
                 <td align=right></td><td align=right></td><td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right></td>
                 <td align=right><b>Total UF:</b></td>
                 <td align=right><b>{{"{:20,.12f}".format(data.total_bill_distributed)}}</b></td>
            </tr>
        </tbody>
    </table>
    
    <h1>Statistics:</h1>
    
    <a href="#" onclick="history.go(-1)">
        <img src="/static/img/back.png"
            color=yellow width="32" height="32" title="" alt="Return">
    </a>

    <table style="width:50%" class="table table-striped table-hover table-sm" align="center"> 
        <thead class="thead-dark">   
            <tr> <!-- headers -->
                <th style="width:75%" align=center>Items</th>
                <th                   align=center>Quantity</th>
            </tr> <!-- headers -->
        </thead>
        <tbody>
            <tr><td align=center><b>EG Collector DB</b> </td><td></td></tr>
            <tr><td align=left  >   Configuration Items:</td><td align=right>{{"{:12,.0f}".format(data.count_cis )}}</td></tr>
            <tr><td align=left  >   Components:         </td><td align=right>{{"{:12,.0f}".format(data.count_total_db_cus )}}</td></tr>
            <tr><td align=left  >   Hours:              </td><td align=right>{{"{:12,.0f}".format(data.count_total_db_cits )}}</td></tr>
            
            <tr><td align=center><b>Customer billeable data</b></td><td></td></tr>
            <tr><td align=left  >   Configuration Items:       </td><td align=right>{{ "{:12,.0f}".format(data.count_vms+data.count_imgs+data.count_vgs ) }}</td></tr>
            <tr><td align=right >      Virtual machines:       </td><td align=right>{{ "{:12,.0f}".format(data.count_vms   )     }}</td></tr>
            <tr><td align=right >           Disk Images:       </td><td align=right>{{ "{:12,.0f}".format(data.count_imgs  )     }}</td></tr>
            <tr><td align=right >         Volume Groups:       </td><td align=right>{{ "{:12,.0f}".format(data.count_vgs   )     }}</td></tr>
            <tr><td align=right >             Snapshots:       </td><td align=right>{{ "{:12,.0f}".format(data.count_snps  )     }}</td></tr>
            <tr><td align=right >                 Other:       </td><td align=right>{{ "{:12,.0f}".format(data.count_other )     }}</td></tr>
            <tr><td align=left  >   Components:                </td><td align=right>{{ "{:12,.0f}".format(data.count_total_cus ) }}</td></tr>
            <tr><td align=left  >   Hours:                     </td><td align=right>{{ "{:12,.0f}".format(data.count_total_cits) }}</td></tr>
        </tbody>
    </table>


<br>

<hr>
<table>
    <tr><td>current: </td>
        <td><b>{{collectordata.COLLECTOR_PERIOD.current}}</b></td>
        <td></td>
    </tr>
    <tr><td>active:</td>
        <td><b>{{collectordata.COLLECTOR_PERIOD.active}}</b></td> 
        <td>start: {{collectordata.COLLECTOR_PERIOD.start}} 
            end: {{collectordata.COLLECTOR_PERIOD.end}}
        </td>
    </tr>
    <tr>
        <td>available:</td>
        <td></td>
        <td><b>{{collectordata.COLLECTOR_PERIOD.available|replace(',',', ')}}</b></td>
    </tr>
</table>
{% endblock %}

{# ============================================================================= #}
