{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Collector - Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Collector Login</h1>
</div>
<div class="col-md-4">
{#% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %#}
    {{ wtf.quick_form(form) }}
    <br>
    {#<!--
    <p>Forgot your password? <a href="{{ url_for('auth',filename='password_reset_request.html') }}">Click here to reset it</a>.</p>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>   
    -->#}
</div>
{% endblock %}
